<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/music.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Let's Rock'n Roll</ion-card-subtitle>
        <ion-card-title>Welcome to Musipedia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This application is a database of musics and artists informations.</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Settings</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-button expand="block" fill="clear" color="dark" size="default">
                <ion-icon slot="start" color="medium" name="microphone"></ion-icon>
                <ion-label>Add artist</ion-label>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-button expand="block" fill="clear" color="dark" size="default">
                <ion-icon slot="start" color="medium" name="musical-notes"></ion-icon>
                <ion-label>Add music</ion-label>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
