<ion-header>
  <ion-toolbar>
    <ion-title>
      Musics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let music of musics">

        <ion-card-header>
            <ion-card-subtitle>{{ music.artist.name }}</ion-card-subtitle>
            <ion-card-title>{{ music.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>Genre</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{ music.genre }}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Duration</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{ music.duration }}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Release date</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{ music.date }}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button fill="solid" color="primary" size="default"><ion-icon name="settings"></ion-icon></ion-button>
            <ion-button fill="solid" color="danger" size="default" (click)="delete(music)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-card-content>

    </ion-card>
</ion-content>
