<ion-header>
  <ion-toolbar>
    <ion-title>Add Artist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="onSubmit()">
        <ion-item lines="none">
            <ion-label>Name :</ion-label>
            <ion-input type="text" [(ngModel)]="newArtist.name" name="name" clearInput placeholder="name"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Genre :</ion-label>
            <ion-input type="text" [(ngModel)]="newArtist.genre" name="genre" clearInput placeholder="genre"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>Birthdate :</ion-label>
            <ion-input type="text" [(ngModel)]="newArtist.birthdate" name="birthdate" clearInput placeholder="date"></ion-input>
        </ion-item>
        <ion-button type="submit" fill="solid" color="primary">Add Artist</ion-button>
        <ion-button type="submit" fill="solid" color="danger" routerLink=''>Cancel</ion-button>
    </form>
</ion-content>
