<ion-header>
  <ion-toolbar>
    <ion-title>
      Artists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let artist of artists">

        <ion-card-header>
            <ion-card-subtitle>{{ artist.genre }}</ion-card-subtitle>
            <ion-card-title>{{ artist.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>Birthdate</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{ artist.birthdate }}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button fill="solid" color="primary" [routerLink]="['update/',artist.id]"><ion-icon name="settings"></ion-icon></ion-button>
            <ion-button fill="solid" color="danger" (click)="delete(artist)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-card-content>

    </ion-card>
</ion-content>
