<ion-header>
  <ion-toolbar>
    <ion-title>
      Artists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        
        <ion-card-header>
            <ion-card-subtitle>Genre</ion-card-subtitle>
            <ion-card-title>Name</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>Birthdate</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>xxx</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button fill="solid" color="primary"><ion-icon name="settings"></ion-icon></ion-button>
            <ion-button fill="solid" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-card-content>

    </ion-card>
</ion-content>
